<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>Angular | Custom build tool App</title>
</head>

    <div class="container">
        <form action="/project-explorer" method="GET" class="form" autocomplete="off">
            <div class="form-group">
                <label for="folderPath">Please input the folder path</label>
                <input type="text" class="form-control" id="folderPath" name="folderPath">
            </div>
            <div class="form-group">
                
                <button class="btn btn-primary" disabled="disabled" id="submitBtn" >Explore the folder</button>
                
            </div>
        </form>
    </div>

    <body>

        <!-- jQuery library -->
        <script src="/assets/js/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- custom JS -->
        <script src="/assets/js/index.js"></script>

    </body>

</html>